{% extends "store_products/index.html" %}
{% block content %}
<div class="container text-left aboutc">
	<div class="row aboutr">
	<h2 class="about">No more time at the department store...</h2>
	<br/>
	<p class="about">To put it simply, SuitUp is dedicated to getting men to dress better. We intend to make this very easy by offering a convenient online shopping experience at great prices. Our suits are made from the highest quality fabrics and are shipped directly from the source.</p>
	</div>
</div>
{% endblock %}