<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Billboard</title>
		<script src="https://use.fontawesome.com/b9747c37f4.js"></script>
		{% load staticfiles %}
		<link href="{% static 'css/products.css' %}" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	</head>
	<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/suitup.png' %}" alt="Suit Up"/>
      </a>
    </div>
    <ul class="nav navbar-nav">
    	<li><a href="{% url 'home' %}">Home</a></li>
    	<li><a href="{% url 'about' %}">About us</a></li>
    	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Collection<span class='caret'></span></a>
    		<ul class="dropdown-menu">
    			<li><a href="#">Suits</a></li>
    			<li><a href="#">Shirts</a></li>
    			<li><a href="#">Shoes</a></li>
    			<li><a href="#">Ties</a></li>
    		</ul>
    	</li>
    </ul>
   	<ul class = "nav navbar-nav navbar-right relative">
   		<li class="user"><a href='#'>{{user}}</a></li>
   	   	{% if user.is_anonymous %}
   		<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      	<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      	{% else %}
      	<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>Items<span class="caret"></span></a></li>
          	<ul class="dropdown-menu dropdown-cart" role="menu"><!--insert cart items here dynamically--><li class="text-center"><button class="btn-default" id="checkout">Checkout</button></li></ul>
        		<li><a href="{% url 'userlogout' %}">Logout</a></li>
        		{% if request.user.is_superuser %}
        		<li><a href="{% url 'admin:index' %}">Admin</a></li>
        		{% endif %}
     </ul>
          {% endif %}
    		
  </div>
</nav>
	{% block content %}
	{% endblock %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 foot">
			<img src="{% static 'images/suitup.png' %}" alt="Suit Up" class="logo footitem"/>
		</div>
		<div class="col-xs-3 foot">
			<a href='#'><p>Shipping</p></a>
			<a href='#'><p>Returns</p></a>
			<a href="{% url 'contact' %}"><p>Contact</p></a>
			<a href="{% url 'about' %}"><p>About</p></a>
		</div>
		<div class ="col-xs-3 foot">
			<p>Address:</p>
			<p>filler</p>
		</div>
		<div class="col-xs-3 foot">
			<span><i class="fa fa-instagram"></i></span>
			<span><i class="fa fa-facebook"></i></span>
			<span><i class="fa fa-twitter"></i></span>
			<span><i class="fa fa-pinterest"></i></span>
		</div>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src='{% static "js/products.js" %}'></script>
</body>
</html>