.foot {
	position:relative;
}
.foot .footitem {
	position:absolute;
	/*transform:translateY(-50%);*/
	top:50%;
}

.car {
	max-height:350px;
}

.car .carimage {
	width:100%;
}

.catalog {
	position:relative;
}

.catalog .stock {
	height:150px;
	width:50%;
}

.about {
	font-family: 'Pacifico', cursive;
}

.aboutc {
	position:relative;
	height:500px;
}
.aboutr {
	position:absolute;
	transform:translateY(-50%);
	top:50%;
}